body {
    margin: 0;
    font-family: sans-serif;
    /* background: radial-gradient(circle at center, #fde2e4, #fdf6e3); */
}



/* 全体の2カラムレイアウト */
.recipe-create-container {
    display: flex;
    padding: 40px;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
}

/* 左側の画像部分 */
.image-preview {
    width: 300px;
    height: 300px;
    background-color: #f0f0f0;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.no-image {
    color: #999;
    font-size: 18px;
}

/* 右側の入力フォーム */
.recipe-form {
    width: 400px;
}

.recipe-form h2 {
    margin-bottom: 20px;
    text-align: center;
    font-family: cursive;
}

.recipe-form label {
    display: block;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}

.recipe-title {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

/* 人数入力欄 */
.servings-input {
    width: 150px;
    padding: 8px;
    font-size: 14px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

/* 材料名と分量を横並び */
.ingredient-row {
    display: flex;
    gap: 0px;
    margin-bottom: 10px;
}


/* 材料名入力欄 */
.ingredient-name {
    flex: 2;
        border: 1px solid #ccc;
        border-right: none;
        border-radius: 6px 0 0 6px;
        padding: 10px;
        box-sizing: border-box;
}

/* 分量入力欄 */
.ingredient-qty {
    flex: 1;
        border: 1px solid #ccc;
        border-left: none;
        /* 中央の線を消す */
        border-radius: 0 6px 6px 0;
        padding: 10px;
        box-sizing: border-box;
}


.recipe-form textarea,
.recipe-form input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    /* font-size: 14px; */
    box-sizing: border-box;
}
.servings-input {
    width: 150px;
    padding: 8px;
    font-size: 14px;
    margin-bottom: 10px;
}
.recipe-form textarea {
    height: 300px;
    resize: vertical;
}

input::placeholder,
textarea::placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ccc !important;
    opacity: 1 !important;
    /* Safariで効かない対策 */
}



.recipe-form button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background-color: #eee;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

.recipe-form button:hover {
    background-color: #ddd;
}