:root {
    --main-bg: #f2f2f2;
    /* 背景：柔らかい薄グレー */
    --button-bg: #dcdcdc;
    /* ボタン：さらに薄いグレー */
    --button-text: #555;
    /* ボタン文字：濃いグレー */
    --text-color: #555;
    /* 本文：やや薄めの黒 */
    --border-color: #ccc;
    --input-bg: #fff;
    --error-color: #d9534f;
}

* {
    box-sizing: border-box;
}

.form-input,
.submit-button {
    width: 100%;
    display: block;
}

body {
    background-color: var(--main-bg);
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding-top: 100px;
    color: var(--text-color);
    font-weight: 300;
    /* 細めフォント */
}

.header {
    text-align: center;
    padding: 2rem 0;
}

.logo {
    text-align: center;
    margin-bottom: 1.5rem;
}

.logo-image {
    width: 60px;
    /* お好みで大きさ調整可 */
    height: auto;
    opacity: 0.9;
    /* 少し透明感を出して柔らかく */
}

.form-container {
    max-width: 360px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;

    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    font-size: 1.3rem;
    /* font-family: cursive; */
    font-family: sans-serif;
    margin-bottom: 2rem;
    font-weight: 300;
    color: var(--text-color);
}

.description {
    font-size: 0.95rem;
    color: var(--text-color);
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    text-align: center;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-label {
    display: block;
    margin-bottom: 0.4rem;
    font-size: 0.9rem;
    font-weight: 300;
}

.form-input {
    width: 100%;
    padding: 0.6rem 0.8rem;
    border: none;
    border-bottom: 1px solid #dcdcdc;
    background-color: var(--input-bg);
    font-size: 1rem;
    font-weight: 300;
}

.error {
    font-size: 0.85rem;
    color: var(--error-color);
    margin-top: 0.3rem;
}

.submit-button {
    width: 100%;
    margin-top: 60px;
    padding: 0.8rem;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #cfcfcf;
}


.forgot-link {
    display: block;
    text-align: center;
    margin-top: 1rem;
    font-size: 0.85rem;
    color: #777;
    text-decoration: underline;
}

.login-link {
    display: block;
    text-align: center;
    margin-top: 1.2rem;
    font-size: 0.85rem;
    color: #555;
    text-decoration: underline;
    font-weight: 300;
}

.login-link:hover {
    color: #9f9b9b;
}