* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-color: white;
}

.header {
    background-color: #000;
    padding: 20px;
}

.logo {
    height: 24px;
}

.container {
    margin: 0 auto;
}



.main-content {
    background: #fff;
    max-width: 600px;
    margin: 200px auto;
    padding: 30px;
    text-align: center;
}


p {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

.verify-button {
    display: inline-block;
    background-color: #c6c7c8;
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
}

.verify-button:hover {
    background-color: #e0dddd;
}

.resend-form {
    text-align: center;
    margin-top: 10px;
}

.resend-button {
    color: #007bff;
    font-size: 14px;
    text-decoration: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.resend-button:hover {
    text-decoration: underline;
}

@media (min-width: 768px) and (max-width: 850px) {
    .header {
        height: 50px;
        padding: 10px;
    }

    .logo {
        height: 14px;
    }

    .form-container {
        max-width: 70%;
        margin: 0 auto;
        padding: 20px;
    }
}